*{
    box-sizing: border-box;
}


.full{
    width: 25vw;
    background-size: cover;
    background-attachment: fixed;


}
#top{
    background-image: url("images/boobsallcolors.gif");
    width: 1903px;
    height: 900px;
}
body{
    margin: 0;
}
h1{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    background-color:rgb(255, 209, 26);
    margin: 0;
    height: 300px;
    vertical-align: middle;
    line-height: 270px;  
    font-style: italic;
    font-size: 50pt;
    margin-top: 100px;
    margin-bottom: 100px;
}
#image{
    border: none;
    background-color: white;
    margin: 0;
    width: 90px;
    height: auto;
}